<div class="row">
    <div class="col-md-3">
        <h3>Documents </h3>
        <!-- Search bar -->
        <div class="input-group mb-3" style="width:80%">
            <input type="text" class="form-control" placeholder="Search for document" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <!-- Draggable events -->
        <div id='external-events'>
            <!-- use color='color' to choose what color the draggable will display on the calendar -->
            <ng-template #popContent>
                <p *ngFor="let content of getContent()">{{content}}</p>
            </ng-template>

            <div class="fc-events-lg">
                <div class='fc-event'> <b class="title">Document 1</b> <span class="dot" color="green" style="background-color:green"></span>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Created On: </td>
                        <td>Due Date: </td>
                      </tr>
                      <tr>
                        <td>Created by: </td>
                        <td>Current State: </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class='fc-event'><b class="title">Document 2 </b><span class="dot" color="blue" style="background-color:blue"></div>
                <div class='fc-event'><b class="title">Document 3 </b><span class="dot" color="violet" style="background-color:violet"></div>
                <div class='fc-event'><b class="title">Document 4 </b><span class="dot" color="purple" style="background-color:purple"></div>
                <div class='fc-event'><b class="title">Document 5 </b><span class="dot" color="yellow" style="background-color:yellow"></div>
            </div>
            <div class="fc-events-sm">
                <div class='fc-event'><a [ngbPopover]="popContent"><b class="title">Document 1 </a><span class="dot" color="green" style="background-color:green"></span></div>
                <div class='fc-event'><b class="title">Document 2 </b><span class="dot" color="blue" style="background-color:blue"></div>
                <div class='fc-event'><b class="title">Document 3 </b><span class="dot" color="violet" style="background-color:violet"></div>
                <div class='fc-event'><b class="title">Document 4 </b><span class="dot" color="purple" style="background-color:purple"></div>
                <div class='fc-event'><b class="title">Document 5 </b><span class="dot" color="yellow" style="background-color:yellow"></div>
            </div>

        </div>

        <!-- Legend -->
        <div id="legendContainer">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Legend</button>
            <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                <div class="card card-body">
                    <ul class="list-group">
                    <li class="list-group-item">Author <span class="dot" style="background-color:blue"></span></li>
                    <li class="list-group-item">Tech Editor <span class="dot" style="background-color:red"></span> </li>
                    <li class="list-group-item">Content Reviewer <span class="dot" style="background-color:green"></span></li>
                    <li class="list-group-item">Senior Intel Officer <span class="dot" style="background-color:yellow"></span></li>
                    <li class="list-group-item">Executive Reviewer <span class="dot" style="background-color:violet"></span></li>
                    <li class="list-group-item">Read Off <span class="dot" style="background-color:purple"></span></li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Tech Editor</p>
                                <p>Graphics</p>
                                <p>PCO</p>
                            </div>
                            <div class="col-md-3"><span class="dot" style="background-color:grey"></span></div>
                        </div>
                    </li>
                    <li class="list-group-item">Done <span class="dot" style="background-color:black"></span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- Calendar -->
    <div class='col-md-9'>
        <h3 style="margin-left:220px">Schedule</h3>
        <div id='calendar'></div>
    </div>
</div>
