    <h2>Database Items</h2>
    <ng-container *ngFor="let document of documents; let last = last">
        <div class='fc-event' id="{{document.currstate}}">
            <div hidden id="document-id">{{document | json}}</div>
            <div class="row">
                <div class="col-md-7">
                  <a class="title" (click)="openDocPreview(document)" title="Preview Document">{{document.name}}</a>
                </div>
                <div class="col-md-3">
                    <span class="dot" color="brown" style=""></span>
                </div>
                <div class="col-md-2 float-right">
                      <div class="queue-remove"><i class="fa fa-times icon" (click)='removeQueue(document)'></i></div>
                </div>
            </div>
        <table class="table" style="width: 100%">
            <div class="fc-events-lg">
                <thead >
                    <tr >
                        <th>Due Date</th>
                        <th>Created By</th>
                        <th>Current State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="due-date">{{duedates[document.id] | date: 'EE MMM d yyyy'}}</td>
                        <td>{{document.createdby}} </td>
                        <td>{{document.currstate}}</td>
                    </tr>
                </tbody>
            </div>
            <div class="fc-events-sm">
                <tbody>
                    <tr>
                        <th>Due</th>
                        <td class="due-date">{{duedates[document.id] | date: 'EE MMM d yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>Created by</th>
                        <td>{{document.createdby}} </td>
                    </tr>
                    <tr>
                        <th>Currstate</th>
                        <td>{{document.currstate}}</td>
                    </tr>
                </tbody>
            </div>
        </table>
      </div>

    <span *ngIf='last'>{{loadEvents()}}</span>
</ng-container>



<div>


</div>
