<div class="row">
    <div class="col-md-3">
        <h3>Documents </h3>
        <!-- Search bar -->
        <jhi-director-events-filter></jhi-director-events-filter>
        <!-- Draggable events -->
        <div id='external-events'>
            <jhi-director-events></jhi-director-events>
        </div>
    </div>


    <!-- Calendar -->
    <div class='col-md-9'>
        <h3 style="margin-left:220px">Schedule</h3>
        <div id='calendar'></div>
    </div>
</div>

<!-- Legend -->
<div id="legendContainer">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Legend</button>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
        <div class="card card-body">
            <ul class="list-inline">
                <li class="list-inline-item"><span class="dot" style="background-color:green"></span> Created</li>
                <li class="list-inline-item"><span class="dot" style="background-color:blue"></span> Aurthor</li>
                <li class="list-inline-item"><span class="dot" style="background-color:red"></span> Tech Editor</li>
                <li class="list-inline-item"><span class="dot" style="background-color:peru"></span> Content Reviewer </li>
                <li class="list-inline-item"><span class="dot" style="background-color:aqua"></span>Senior Intel Officer </li>
                <li class="list-inline-item"><span class="dot" style="background-color:violet"></span>Executive Reviewer </li>
                <li class="list-inline-item"><span class="dot" style="background-color:purple"></span>Read Off</li>
                <li class="list-inline-item"><span class="dot" style="background-color:grey"></span> Tech Editor/Graphics/PCO</li>
                <li class="list-inline-item"><span class="dot" style="background-color:black"></span> Done </li>
            </ul>
        </div>
    </div>

</div>
