<ng-template #documentsTemp let-document="curr_doc">
    <div class='fc-event' id="{{document.currstate}}">
        <div hidden id="document.id">{{document | json}}</div>
        <div class="row">
            <div class="col-md-8">
                <a class="title" (click)="openDocPreview(document)" title="Preview Document" class="title">{{document.name}}</a>
            </div>
            <div class="col-md-4 float-right">
                <span class="dot" color="white" style=""></span>
            </div>
        </div>
        <ul class='list-group'>
            <li class='list-group-item'>
                Created: {{document.createdon | date: 'MMM dd yyyy'}}
            </li>
            <li class='list-group-item'>
                Due: {{duedates[document.id] | date: 'MMM dd yyyy'}}
            </li>
            <li class='list-group-item'> By: {{document.createdby}} </li>
            <li class='list-group-item'> Currstate: {{document.currstate}}</li>

        </ul>
    </div>


</ng-template>

<div class="fc-events-lg">
    <h2>Database Items</h2>
    <ng-container *ngFor="let document of documents; let last = last">
        <div class='fc-event' id="{{document.currstate}}">
            <div hidden id="document-id">{{document | json}}</div>
            <div class="row">
                <div class="col-md-9">
                    <a class="title" (click)="openDocPreview(document)" title="Preview Document">{{document.name}}</a>
                </div>
                <div class="col-md-3 float-right">
                    <span class="dot" color="white" style=""></span>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Created On</th>
                        <th>Due Date</th>
                        <th>Created By</th>
                        <th>Current State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{document.createdon | date: 'EEE MMM dd yyyy'}}</td>
                        <td class="due-date">{{duedates[document.id] | date: 'EEE MMM dd yyyy'}}</td>
                        <td>{{document.createdby}} </td>
                        <td>{{document.currstate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf='last'>{{loadEvents()}}</span>
    </ng-container>
</div>


<div class="fc-events-sm">
    <ng-container *ngFor="let document of documents; let last = last">
        <ng-container *ngTemplateOutlet="documentsTemp; context:{curr_doc:document}"></ng-container>
        <span *ngIf='last'>{{loadEvents()}}</span>
    </ng-container>
</div>

<div>


</div>
