@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

#external-events {
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

.demo-topbar+#external-events {
    /* will get stripped out */
    top: 60px;
}

.fc-event .fc-events-lg {
    margin: 1em 0;
}

.fc-event.fc-events-sm {
    margin: 1em 0;
}

#calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}

#calendar {
    max-width: auto;
    margin: 20px auto;
}

.fc-event {
    height: auto;
    margin-bottom: 10px;
    cursor: move;
    color: #0d2242;
    background-color: white;
    padding-bottom: 20px;
}

.fc-event span {
    margin-top: 10px;
    margin-right: 3px;
}

.popover-header {
    background-color: blue;
}

/* ==========================================================================
Legend
========================================================================== */

#legendContainer {
    margin-top: 20%;
    background-color: white;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 100;
}

#legendContainer ul li {
    font-size: 0.7em;
}

#legendContainer .card {
    width: auto;
}

.list-inline {
    display: flex;
}

.list-inline li {
    flex: 1;
    text-align: center;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 7px;
    display: block;
}

.title {
    font-size: 14px;
}



@media only screen and (max-width: 1500px) {
    .fc-events-lg {
        display: none;
    }
    .fc-events-sm {}
}

@media only screen and (min-width: 1500px) {
    .fc-events-lg {
        display: block;
    }
    .fc-events-sm {
        display: none;
    }
}
