<div [hidden]="!isAuthenticated()">

<!-- Header -->
	<header>
			<div id="innertube" class="innertube">
				<div style="left:60px; top:25px; font: 14px/1 'Open Sans', sans-serif;" class='col-md-9'>
					<h1><b>Document 1</b></h1>
				</div>
				<div style="left:60px; top:25px; font: 14px/1 'Open Sans', sans-serif;" class='col-md-9'>
					<h2>June 28, 2018</h2>
				</div>
			</div>
	</header>

<!-- Progressbar -->
	<div style="left:150px; top:1px;" class='col-md-9'>
		<div ng-app="progressbar" class="container">
			<ul ng-controller="myCtrl" class="progressbar">
				<li id="author" class="active" >
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Author">Author</a>
				</li>
				<li id="te" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Tech Editor">TE</a>
				</li>
				<li id="cr" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Content Reviewer">CR</a>
				</li>
				<li id="sio" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Senior Intel Officer">SIO</a>
				</li>
				<li id="er" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Executive Reviewer">ER</a>
				</li>
				<li id="ro" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Read Off">RO</a>
				</li>
				<li id="pco" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Tech Editor/Graphics/PCO">TE | GFX | PCO</a>
				</li>
				<li id="done" class="none">
					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Done">Done</a>
				</li>
			</ul>
		</div>
	</div>


<!-- Tabs and Buttons -->
<body>
	<div class="row">
  	<div class="leftcolumn">
			<main>
				<!-- Tab Names -->
				<input id="tab1" type="radio" name="tabs" checked>
  			<label for="tab1">Comments</label>

  			<input id="tab2" type="radio" name="tabs">
  			<label for="tab2">Documents</label>
				<!-- First Tab contents -->
  			<section id="content1">
					<div class="container">
						<div class="dialogbox">
							<div class="body">
        				<span><b>Author</b>: I just made a comment about this document.</span>
      				</div>
						</div>
					</div>
					<textarea rows="3" cols="50" name="comment" form="#"></textarea>
					<br><br>
					<button class="btn" type="submit" form="#">Submit</button>
  			</section>

				<!-- Second Tab Contents -->
  			<section id="content2">
    			<p>
						Document: Not Implemented
    			</p>
  			</section>
			</main>
		</div>
		<!-- Approve and Deny Buttons -->
		<div class="rightcolumn">
			<button (click)="approve()" class="btn2">Approve</button>
			<button (click)="deny()" class="btn3">Deny</button>
		</div>
	</div>
</body>




</div>
