<button aria-label="Close" style="position:absolute;right:10px;" class="close" type="button" (click)="activeModal.dismiss()"><span aria-hidden="true">x</span></button>
<div id="main">
  <div ngbDropdown>
    <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Reasons</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <!-- <button *ngFor='let value of enumValues; let i = index;' class="dropdown-item" >{{statusDictionary(value)}}</button> -->
  </div>
  <textarea rows="4" cols="40" style="resize: none; overflow-y: scroll;" placeholder="Reason for denying goes here..."></textarea>
</div>
<button style="position:absolute;right:35px;bottom:7px;" class="btn btn-primary" type="submit" form="#">Submit</button>
