<div>
    <h2>
        <span>Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment-open-sesame" [routerLink]="['/', { outlets: { popup: ['comment-open-sesame-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Createdon</span></th>
            <th><span>Comment</span></th>
            <th><span>Createdby</span></th>
            <th><span>Document</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comment-open-sesame', comment.id ]">{{comment.id}}</a></td>
                <td>{{comment.createdon | date:'mediumDate'}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.createdby}}</td>
                <td>
                    <div *ngIf="comment.documentId">
                        <a [routerLink]="['../document-open-sesame', comment.documentId  ]" >{{comment.documentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment-open-sesame', comment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-open-sesame/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-open-sesame/'+ comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
