/* ==========================================================================
Main page styles
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* ==========================================================================
Header CSS
========================================================================== */

header {
  font: 14px/1 'Open Sans', sans-serif;
  background: #353d47;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  color: white;
}

.innertube {
  margin: 15px; /* Padding for content */
	margin-top: 0;
}

/* ==========================================================================
Progressbar CSS
========================================================================== */

.jumbotron{
  padding:10px;
}

.progressbar {
    padding: 0px;
    background: black;
    list-style: none;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.progressbar li {
    display: table-cell;
    vertical-align: top;
    width: 180px;
    white-space:nowrap;
}

.progressbar li a {
    color: white;
    text-decoration: none;
    padding: 7px 0 5px 12px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 0px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.progressbar li.none a {

}

.progressbar li.completed a {
    background: hsla(153, 57%, 51%, 1);
}

.progressbar li.completed a:after {
    border-left: 20px solid hsla(153, 57%, 51%, 1);
}

.progressbar li.active a {
    background: #ffc107;
}

.progressbar li.active a:after {
    border-left: 20px solid #ffc107;
}

.progressbar li.last a {
    background: red;
}
.progressbar li.last a:after {
    border-left: 20px solid red;
}

.progressbar li:last-of-type a {
    width: calc( 100% - 10px );
}

.progressbar li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.progressbar li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}



/* ==========================================================================
 Tabs CSS
========================================================================== */





body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: white;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1c2'; }
label[for*='2']:before { content: '\f086'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #353d47;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  display: block;
}

/* ==========================================================================
 Dialog Box CSS
========================================================================== */
.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

:host ::ng-deep #mammoth-wrapper {
	width:100%;
	height:400px;
	background:white;
}
:host ::ng-deep #mammoth-wrapper #output {
    background-color: #fff;
    margin: 0 -10px;
    padding: 5px 10px;
	overflow: scroll;
	height:100%;
	width: 100%;
}

:host ::ng-deep #mammoth-wrapper img {
    max-width: 100%;
}