
<div *ngIf="document">
  <div [hidden]="!isAuthenticated()">




  <!-- Header -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
          <div  class='btn-group mr-2' role="group">
            <button class='btn btn-warning' (click)="openFile(document.fileContentType, document.file)"> <span class="fa fa-download"></span>&nbsp;<span>Download</button>
          </div>
          <div  class='btn-group mr-2' role="group">
                <button
                *jhiHasAnyAuthority = "['ROLE_ADMIN',getAuthority()]"
                type="button"
                [routerLink]="['/', { outlets: { popup: 'document-open-sesame/'+ document.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary">
           <span class="fa fa-pencil"></span>&nbsp;<span> Update</span>
        </button>
          </div>
          <div class='btn-group mr-2' role="group">
              <button *jhiHasAnyAuthority = "['ROLE_ADMIN',getAuthority()]" [disabled]="isDone()" (click)="approve()" type='button' class='btn btn-success'>Approve</button>
          </div>
          <div  class='btn-group mr-2' role="group">
            <div ngbDropdown class="d-inline-block">
            <button *jhiHasAnyAuthority = "['ROLE_ADMIN',getAuthority()]" [hidden]='isAuthor()' [disabled]="denyShow(0)" class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Send Back</button>

            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor='let value of enumValues; let i = index;'
              (click)='deny(value, i)'
              [hidden]="denyShow(i)"
              class="dropdown-item"
              [routerLink]="['/', { outlets: { popup: ['comment-open-sesame-new'] } }]"
              [queryParams]="{ docId: document.id }">{{statusDictionary(value)}}</button>
            </div>
          </div>
  </div>
          </div>
        </div>
         <h2>{{document.name}}</h2>
         <h4 *ngIf="!document.duedate">Due Date Not Set</h4>
          <h4 *ngIf="document.duedate">Due Date - {{document.duedate | date:'mediumDate'}} {{dueCountdown}}</h4>

    </div>
</div>
  </div>

  <!-- Progressbar -->
  <div class=''>
  	<div  class='col-md-12'>
  		<div ng-app="progressbar" class="container">
  			<ul ng-controller="myCtrl" class="progressbar">
  				<li id="author" [ngClass]="progress('AUTHOR')">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='AUTHOR' title="Author">Author</a>
  				</li>
  				<li id="te" [ngClass]="progress('TE1')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='TE1' title="Tech Editor">TE</a>
  				</li>
  				<li id="cr" [ngClass]="progress('CR')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='CR' title="Content Reviewer">CR</a>
  				</li>
  				<li id="sio"  [ngClass]="progress('SIO')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='SIO' title="Senior Intel Officer">SIO</a>
  				</li>
  				<li id="er" [ngClass]="progress('ER')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='ER' title="Executive Reviewer">ER</a>
  				</li>
  				<li id="ro" [ngClass]="progress('RO')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='RO' title="Read Off">RO</a>
  				</li>
  				<li id="pco" [ngClass]="progress('TE2')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='TE2' title="Tech Editor/Graphics/PCO">TE | GFX | PCO</a>
  				</li>
  				<li id="done" [ngClass]="progress('DONE')" class="none">
  					<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-id='DONE' title="Done">Done</a>
  				</li>
  			</ul>
  		</div>
  	</div>

  </div>

    <div class='row'>
      <div  class='col-md-10 offset-md-1'>
          <div id="docxjs-wrapper" style="width:100%;height:400px;background:green;"></div>
      </div>

    </div>

  <!-- Tabs and Buttons -->

  	<div  class="row">
    	<div  class='col-md-8 offset-md-2'>
  			<main>
  				<!-- Tab Names -->
  				<input id="tab1" type="radio" name="tabs" checked>
    			<label for="tab1">History</label>

    			<input id="tab2" type="radio" name="tabs">
    			<label for="tab2">Comments</label>
  				<!-- First Tab contents -->
    			<section id="content1">
      			<p>
  						Document: Not Implemented
      			</p>
    			</section>


          <!-- Second Tab Contents -->
          <section id="content2">
  					<div class="container">
  						<div class="dialogbox">
                <tr *ngFor="let comment of comments ;trackBy: trackId">
                  <div *ngIf = "document.id == comment.documentId">
                    <div class="body">
                      <span><b>{{comment.createdby}}</b>: {{comment.comment}}</span>
                    </div>
                  </div>
                </tr>
  						</div>
  					</div>
  					<br><br>
  					<button class="btn btn-primary" type="submit"
            [routerLink]="['/', { outlets: { popup: ['comment-open-sesame-new'] } }]"
            [queryParams]="{ docId: document.id }">Make Comment</button>
    			</section>
  			</main>
  		</div>



  </div>


</div>
