<div [hidden]="!isAuthenticated()">
	<div class="row" style="margin-bottom:20px">
		<div class="col-mid-12">
			<h2>{{user.firstName}} {{user.lastName}} <small>{{user.role}}</small></h2>
		</div>
	</div>
	<div class="row">
		<div class='col-md-6'>
			<div id="docs-header">
				<h2>Your Documents</h2>
			</div>
				<ul class="list-group" id="your-documents">
				<li *ngFor="let document of documentsRoleSpecific;" class="row list-group-item" (click)="goToDoc(document.id)">
					<div class="document-id" style="width:15%;"><b>ID:</b> <span>{{document.id}}</span></div>
					<div class="document-name" style="width:50%;"><b>Name:</b> <span>{{document.name}}</span></div>
					<div class="document-due"><b>Due Date: </b>
						<span *ngIf="document.duedate">{{document.duedate | date: 'EE MMM d'}}</span>
						<span *ngIf="!document.duedate">Not Set</span>
					</div>
				</li>
				<div class="no-documents" *ngIf="documentsRoleSpecific && documentsRoleSpecific.length === 0">No documents are assigned to you</div>
			</ul>
		</div>
		<div class='col-md-6'>
			<h2>All Documents Due This Week ({{prevSunday | date: 'M/d/yy'}} - {{nextSaturday | date: 'M/d/yy'}})</h2>
			<ul class="list-group" id="your-documents">
				<li *ngFor="let document of dueWeekDocuments;" class="list-group-item" (click)="goToDoc(document.id)">
					<div class="document-id" style="width:10%;"><b>ID:</b> <span>{{document.id}}</span></div>
					<div class="document-name" style="width:30%;"><b>Name:</b> <span>{{document.name}}</span></div>
					<div class="document-currstatus" style="width:30%;"><b>Status: </b><span>{{document.currstate}}</span></div>
					<div class="document-due"><b>Due Date: </b>
						<span *ngIf="document.duedate">{{document.duedate | date: 'EE MMM d'}}</span>
						<span *ngIf="!document.duedate">Not Set</span>
					</div>
				</li>
				<div class="no-documents" *ngIf="dueWeekDocuments && dueWeekDocuments.length === 0">No documents due this week</div>
			</ul>
		</div>
	</div>
</div>


<div [hidden]="isAuthenticated()">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8" style="margin-top:30px;">
			<div id="loginContainer">
				<span class="hipster2 img-fluid rounded"></span>
				<h1 style='color:#0e9aaa'>pen<b>Sesame</b></h1>
				<button style="margin-top:80px; margin-left:20px" align="center" (click)="login()" class="btn btn-outline-dark btn-lg">Sign In</button>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>

</div>


<!-- Modal to display task info-->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Task Name</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<div class="modal-body">
		<p>Created on: </p>
		<p>Created by: </p>
		<p>Due Date: </p>
		<p>Current State: </p>
		<p>Last State: </p>
		<p>Version: </p>
		<p>Comments:</p>
		<p></p>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
		<button type="button" class="btn btn-outline-primary" (click)="redirect()">Edit</button>
	</div>
</ng-template>
