
<div class='row' [hidden]="!isAuthenticated()">
	<div class='col-md-6'>
		<h2>Your Documents</h2>
		<ul class="list-group">
			<li class="list-group-item">Not Implemented</li>
		</ul>
	</div>
	<div class='col-md-6'>
		<h2>Recent Documents in Review Process</h2>
		<ul class="list-group">
			<li class="list-group-item">Not Implemented</li>
		</ul>
	</div>
</div>

<div [hidden]="isAuthenticated()">
	<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9" style='text-align:center;'>
        <h1 >Welcome to</h1>
        <h1 class="display-4" style='color:#0572B8;margin-bottom:0px;'>Open <b>Sesame</b></h1>
        <p class="lead"><div (click)="login()" class='btn btn-primary'>Sign In</div></p>

         
    </div>
</div>
</div>
