<div id="doc-preview">
    <a id="document-preview" href="#/doc" (click)="activeModal.dismiss()" title="View Document">{{docName}} PREVIEW</a>
    <button aria-label="Close" style="position:absolute;right:10px;" class="close" type="button" (click)="activeModal.dismiss()"><span aria-hidden="true">x</span></button>
    <div id="document-info">
        <h2 style="margin-top:12px">{{docName}}</h2>
        <hr style="margin:10px 0;">
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span>Name</span></dt>
            <dd>
                <span>DOCNAME</span>
            </dd>
            <dt><span>Created On</span></dt>
            <dd>
                <span>CREATEDON</span>
            </dd>
            <dt><span>Created By</span></dt>
            <dd>
                <span>CREATEDBY</span>
            </dd>
            <dt><span>File</span></dt>
            <dd>
                <span>FILE</span>
            </dd>
            <dt><span>Due Date</span></dt>
            <dd>
                <span>DUEDATE</span>
            </dd>
            <dt><span>Current State</span></dt>
            <dd>
                <span>CURRENTSTATE</span>
            </dd>
            <dt><span>Last State</span></dt>
            <dd>
                <span>LASTSTATE</span>
            </dd>
            <dt><span>Current Version</span></dt>
            <dd>
                <span>CURRENTVERSION</span>
            </dd>
        </dl>
    </div>
</div>