<div id="doc-preview">
    <button aria-label="Close" style="position:absolute;right:7px;top:-2px;" class="close" type="button" (click)="activeModal.dismiss()"><span aria-hidden="true">x</span></button>
    <div id="document-info">
        <h2 style="margin-top:10px; text-align:center;">{{document.name}}</h2>
        <hr style="margin:10px 0;">
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details" style="margin-left:15px;">
            <dt><span>Name</span></dt>
            <dd>
                <span>{{document.name}}</span>
            </dd>
            <dt><span>Created On</span></dt>
            <dd>
                <span>{{document.createdon | date: 'EEE MMM dd yyyy'}}</span>
            </dd>
            <dt><span>Created By</span></dt>
            <dd>
                <span>{{document.createdby}}</span>
            </dd>
            <dt><span>File</span></dt>
            <dd>
                <div *ngIf="document.file">
                    Size: {{byteSize(document.file)}}
                    <a (click)="openFile(document.fileContentType, document.file)">open</a>
                </div>
            </dd>
            <dt><span>Due Date</span></dt>
            <dd>
                <span>{{document.duedate | date: 'EEE MMM dd yyyy'}}</span>
            </dd>
            <dt><span>Current State</span></dt>
            <dd>
                <span>{{document.currstate}}</span>
            </dd>
            <dt><span>Last State</span></dt>
            <dd>
                <span>{{document.laststate}}</span>
            </dd>
            <dt><span>Current Version</span></dt>
            <dd>
                <span>{{document.currversionId}}</span>
            </dd>
        </dl>
    </div>
    <div style="text-align:center; clear:both; margin-bottom:15px;">
        <button class="btn btn-primary" (click)="goToDocument(document.id)">Go to document &#8594;</button>
    </div>
</div>